name: Java Maven Build

on:
  push:
    branches:
      - build-maven
  pull_request:
    branches:
      - main

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'

    - name: Install Maven
      run: sudo apt-get install maven -y

    - name: Build with Maven
      run: mvn package --file pom.xml
      
    - name: Execute JAR
      run: java -jar target/*.jar
      
    - name: Deploy to EC2
      env:
        AWS_IP_ADDRESS: ${{ secrets.52.91.135.145 }}
        AWS_PEM_FILE: ${{ secrets.AWSKEY}}
      run: |
        scp -i ${{ secrets.AWSKEY }} target/*.jar ec2-user@${{ secrets.52.91.135.145}}:/app/deployed.jar
        ssh -i ${{ secrets.AWSKEY }} ec2-user@${{ secrets.52.91.135.145}} "java -jar /app/deployed.jar"

